.panel {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: #00000030;
  }
  .fadeIn {
    -webkit-animation: fadeIn 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fadeIn 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
  
  .form {
    min-width: 30rem;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .linktext {
    color: gray;
    font-weight: bold;
    border-bottom: dotted 1px black;
  }